body {
    font: normal 17pt arial;
    background-color: rgb(235, 234, 234);
}
.caixa-nome {
    border: 2px solid black;
    max-width: 92.5%;
    padding: 8px;
    margin-top: 5px;
    background-color: Beige;
    border-radious: 15px
}