body {
    background-color: rgba(0, 0, 0, 0.938);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
main {
    width: 70%;
    height: 500px;
    background-image: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 188, 64), rgb(255, 166, 0));
    box-shadow: 1px 2px 5px rgba(105, 105, 105, 0.452);
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    margin-top: 20px;
}
.input-number {
    width: 120px;
    height: 30px;
    margin-bottom: 20px;
}
#input-button {
    width: 100px;
    margin-top: 20px;
    background-color: whitesmoke;
    height: 35px;
    text-decoration: none;
    border: 0px;
    transition: border-radius 0.3s ease 0.1s; /* Adicionando transição */
}
#input-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.644);
}
input {
    border-radius: 3px;
    border: 1px solid black;
    font-size: 18px;
    transition: border-radius 0.2s ease 0.1s; /* Adicionando transição */
}
input:hover {
    border-radius: 10px;
}
div {
    font-size: 30px;
    margin-top: 40px;
}
